<!DOCTYPE html>
<html>
<head>
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }
    div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

</style>
</head>
<body>
<h1 align="center">Welcome to the ImageRepo</h1>


<br><br>

<div>
  <ul id="grid">
    <% @pictures.each do |img| %>
        <div class="gallery">
            <li><img src="<%= (url_for(img.image)) %>"></li>
        </div>
    <% end %>
  </ul>
</div>

</body>
</html>