<!DOCTYPE html>
<html>
<head>
<style>

body {
  padding: 20px;
  font-family: sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h1 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.image-pic {
  position: relative;
}

.image-image {
  line-height: 0;
  overflow: hidden;
}

.image-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.image-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-pic:hover .location-title {
  opacity: 1;
}

.image-pic:hover .location-image img {
  filter: blur(2px);
}

@media screen and (max-width: 800px) {
   . {
      flex: 50%;
      max-width: 50%;
   }
}

@media screen and (max-width: 600px) {
   . {
      flex: 100%;
      max-width: 100%;
   }
}


</style>
</head>
<body>
<h1 align="center">Welcome to the ImageRepo</h1>


<br><br>


<div class="grid-container">
    <article class="image-pic">
        <% @pictures.each do |img| %>
            <a class="image-title" href="#">San Francisco</a>
            <div class="image-image">
                <a href="#">
                    <img src="<%= (url_for(img.image)) %>">
                </a>
            </div>
        <% end %>
    </article>
</div>

</body>
</html>