<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}

.column {
   flex: 33%;
   max-width: 33%;
   padding: 0 4px;
   border: 1px solid #ccc;
}

.column:hover {
  border: 1px solid #777;
}

.column img {
   margin-top: 0px;
   width: 100%;
   padding: 0px;
}

@media screen and (max-width: 800px) {
   .column {
      flex: 50%;
      max-width: 50%;
   }
}

@media screen and (max-width: 600px) {
   .column {
      flex: 100%;
      max-width: 100%;
   }
}

.overlay { 
    position: absolute; 
    transition: all 0.3s ease; 
    opacity: 0; 
    background-color: #9bcd9b; 
    height: 100%; 
    width: 100%;  
} 
          
.column:hover .overlay { 
    opacity: 1; 
} 
          
.overlayFade { 
    background-color: #9bcd9b; 
} 

</style>
</head>
<body>
<h1 align="center">Welcome to the ImageRepo</h1>


<br><br>

<div>
  <ul class="row">
    <% @pictures.each do |img| %>
        <div class="column">
            <img src="<%= (url_for(img.image)) %>">
            <div class="overlay overlayFade"></div> 
        </div>
    <% end %>
  </ul>
</div>

</body>
</html>