<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  border: 5px solid #555;
}

</style>
</head>
<body>
<h1 align="center">Welcome to the ImageRepo</h1>


<br><br>

<div>
  <ul class="row">
    <% @pictures.each do |img| %>
        <div class="column">
            <li><img src="<%= (url_for(img.image)) %>"></li>
        </div>
    <% end %>
  </ul>
</div>

</body>
</html>